Assignment1/checkpoint/
Assignment1/models/


Assignment1/models/

*.JPEG

Assignment2/dataset/

Assignment2/data/

Assignment2/handwriting_shape/

Assignment2/graph/

Assignment2/validation_lable\.txt

Assignment2/test\.xml

Assignment2/note\.xml
*.h5
Assignment1/resource/
*.JPG
*.zip
*.hdf5
